<div id="container"></div>
<!--<div id="sliders">
    <table>
        <tr>
        	<td>Alpha Angle</td>
        	<td><input id="alpha" type="range" min="0" max="45" value="15"/> <span id="alpha-value" class="value"></span></td>
        </tr>
        <tr>
        	<td>Beta Angle</td>
        	<td><input id="beta" type="range" min="-45" max="45" value="15"/> <span id="beta-value" class="value"></span></td>
        </tr>
        <tr>
        	<td>Depth</td>
        	<td><input id="depth" type="range" min="20" max="100" value="50"/> <span id="depth-value" class="value"></span></td>
        </tr>
    </table>
</div>-->
</br>
 <div class="form-group" style="width:30%;">
  <label for="sel1">Select month:</label>
  <select class="form-control" id="sel1" ng-model="selector">
    <option ng-selected="selector == item.id" ng-click="change(item)"  ng-repeat="item in meses" ng-value="item.id">{{item.label}}</option>
  </select>
  </br>
  <label for="sel2">Select day:</label>
  <select class="form-control" id="sel2" ng-model="dayselector">
    <option ng-click="change_day(item)" ng-repeat="item in days">{{item}}</option>
  </select>
</div> 