<div ng-if="!researchers" class="container">
	<div class="row">
		<h3>Loading data... Please wait.</h3>
        <div class="progress progress-striped active page-progress-bar">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
	</div>
</div>

<table ng-if="researchers" class="table table-bordered">
    <thead>
        <tr>
            <th>Researcher</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input ng-model="addResearcher.name" id="name" name="name" type="text" placeholder="Researcher"  class="form-control input-md"></td>
            <td><input ng-model="addResearcher.category" id="category" name="category" type="text" placeholder="Category" class="form-control input-md"></td>
            <td><button class="btn btn-primary glyphicon glyphicon-plus-sign" ng-click="add(addResearcher)"></button></td>
        </tr>
        <tr ng-repeat="researcher in researchers">
            <td>{{researcher.name}}</td>
            <td>{{researcher.category}}</td>
            <td>
                <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="edit(researcher)"></button>
                <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="remove(researcher)"></button>
            </td>
        </tr>
    </tbody>
</table>